<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tam.threeam.mapper.CartMapper">


	<resultMap type="com.tam.threeam.model.Product" id="productMap">
		<result property="productName" column="product_name"></result>
		<result property="productPrice" column="product_price"></result>
		<result property="productQty" column="product_qty"></result>
	</resultMap>

	<resultMap type="com.tam.threeam.model.Cart" id="cartMap">
		<result property="userSeq" column="user_seq"></result>
		<result property="productSeq" column="product_seq"></result>
		<result property="productQty" column="productQty"></result>
		<collection property="product" resultMap="Product"></collection>
	</resultMap>


	<select id="getProductList" resultType="com.tam.threeam.model.Product" resultMap="productMap">
		SELECT * FROM product ORDER BY id ASC;
		<!--
		SELECT	p.id, p.product_name, p.product_price, p.product_qty, p.category1, p.category2
		FROM product p
		ORDER BY p.id
		-->

	</select>

	<insert id="insertCart" parameterType="com.tam.threeam.model.Cart" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cart SET user_seq=#{userSeq}, product_seq=#{productSeq}, product_qty=#{productQty}, delivery_date=#{deliveryDate}, cart_cookie_id=#{cartCookieId}
	</insert>
	
	<update id="shiftCart" parameterType="map">
		UPDATE cart SET userSeq=#{userSeq} WHERE cart_cookie_id=#{cartCookieId}
	</update>
	
	<select id="getCartList" parameterType="int" resultType="com.tam.threeam.model.Cart" resultMap="cartMap">
		SELECT c.id, c.user_seq, p.id, p.product_name, c.product_qty, p.product_price, (c.product_qty * p.product_price) total_price
		FROM cart c
		JOIN product p ON c.product_seq=p.id
		JOIN user u ON c.user_seq=u.id
		WHERE c.user_seq=#{userSeq}
		ORDER BY c.id
	</select>
	
	<select id="getTotalPrice" parameterType="int" resultType="int" resultMap="cartMap">
		SELECT IFNULL(SUM(c.product_qty * p.product_price), 0)
		FROM cart c
		JOIN product p ON c.product_seq=p.id
		WHERE c.user_seq=#{userSeq}
	</select>
	
	<select id="checkQty" parameterType="int" resultType="int">
		SELECT product_qty FROM cart WHERE id=#{id}
	</select>

	<update id="plusQty" parameterType="int">
		UPDATE cart SET product_qty=product_qty +1 WHERE id=#{id}
	</update>
	
	<update id="minusQty" parameterType="int">
		UPDATE cart SET product_qty=product_qty -1 WHERE id=#{id}
	</update>

	<delete id="deleteOne" parameterType="com.tam.threeam.model.Cart">
		DELETE FROM cart WHERE id=#{id}<!--  AND user_seq=#{userSeq} -->
	</delete>
	
	<delete id="deleteAllByUserSeq" parameterType="int">
		DELETE FROM cart WHERE user_seq=#{userSeq}
	</delete>
	
	<delete id="deleteAllByCookieId" parameterType="String">
		DELETE FROM cart WHERE cart_cookie_id=#{cartCookieId}
	</delete>
	
	<delete id="deleteOrderExpired" parameterType="int">
		<![CDATA[
			DELETE FROM cart WHERE DATE_ADD(DATE(), INTERVAL 2 DAY) > delivery_date AND user_seq=#{userSeq}
		]]>
		
	</delete>
	
	<delete id="deleteOrder" parameterType="com.tam.threeam.model.Cart">
		DELETE FROM cart WHERE user_seq=#{userSeq} AND product_seq=#{productSeq}
	</delete>

</mapper>
